body {
    font-family: "Open Sans", sans-serif;
    background-color: #fcfcfc;
    color: #162748;
}

a {
    color: #162748;
}

.navbar {
    background-color: #fcfcfc;
    box-shadow: 0px 0px 5px 0px #dddddda1;
}

.navItems.colored,
.navItems:hover,
.navItems:focus {
    color: #e2825a;
}

.image-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-section {
    min-height: 50vh;
    background-image: url(../images/ruben-bagues-vPQfc4niDh0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 82px;
}

.hero-content h1 {
    font-size: 56px;
    font-weight: 600;
}

.flyout-menu {
    position: sticky;
    top: 110px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 1px solid #fdfdfd;
    box-shadow: 0px 0px 10px 10px #75747414;
    overflow: hidden;
}

.flyout-menu li a {
    padding: 10px 20px;
    display: block;
    transition: 0.3s ease;
}

.flyout-menu li a:hover {
    background-color: #f2f3f5;
    color: #e78761;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 25px;
    row-gap: 30px;
}

.card-grid .card {
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 10px #75747414;
    transition: 0.4s ease;
}

.card-grid .card:hover {
    transform: translateY(-10px);
}

.card-image img {
    transition: 0.3s ease;
}

.card-grid .card:hover .card-image img {
    transform: scale(1.1);
}

.card-title {
    font-size: 18px;
    transition: 0.3s ease;
}

.card-grid .card:hover .card-title {
    color: #e2825a;
}

.card-link {
    color: #6e6d6d;
}

.card-link:hover {
    color: #e2825a;
}

footer {
    background-color: #162748;
    color: #f2f3f5;
    padding-bottom: 10px;
}

.footerLink {
    color: #ffffff;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
    transition: 0.3s ease;
}

.footerLink:hover {
    color: #e2825a;
}

.footer-last {
    font-size: 12px;
}
.accordion-item{
    border: 0;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
    border-radius: 0 !important;
}
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed{
    border-radius: 0;
}
.accordion-item {
    background: #f7f7f7;
}
.accordion-button {
    height: 45px;
    padding: 10px 20px;
    border-radius: 0;
}
.accordion-button:hover {
    background-color: #f2f3f5 !important;
    color: #e78761 !important;
}
.accordion-body{
    padding-top: 0;
    padding-right: 0;
}
.accordion-button:not(.collapsed) {
    color: #e2825a;
    box-shadow: none;
    background: transparent;
}
.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: unset;
}
.accordion-button::after {
    width: 15px;
    height: 15px;
    background-size: contain;
}
@media screen and (max-width:991px) {
    .hero-section {
        background-size: 1600px;
    }

    .hero-content h1 {
        font-size: 46px;
    }
}

@media screen and (max-width:767px) {
    .hero-section {
        min-height: 40vh;
        margin-top: 66px;
        background-size: 1300px;
    }

    .hero-content h1 {
        font-size: 36px;
    }

    .card-grid {
        grid-template-columns: 1fr;
        align-items: center;
        column-gap: 25px;
        row-gap: 30px;
    }

    .flyout-menu {
        top: 90px;
    }
}

@media screen and (max-width:575px) {
    .container {
        max-width: 95%;
    }

    .hero-section {
        min-height: 40vh;
        margin-top: 66px;
    }

    .hero-content h1 {
        font-size: 36px;
    }
}