:root {
    --color-primary: #0d6efd;
    --pinkish-red: #C35A74;
    --medium-blue: #307BAA;
    --greenish-blue: #53BAB5;
    --bright-orange: #FF7445;
    --white-smoke: #F5F5F4;
    --white: #FFF;
    --dark-gray: #7D7C7C;
    --black: #000;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fcfcfc;
    color: #343140;
}

a {
    color: #162748;
    text-decoration: none;
}

.navbar {
    background-color: #fcfcfc;
    box-shadow: 0px 0px 2px 0px #198754a6;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.navItems.colored,
.navItems:hover,
.navItems:focus {
    color: var(--color-primary);
}

.image-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-post {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-post:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
}
.card:hover:before {
    background-color: rgba(0, 0, 0, 0.6);
}
.card-body {
    position: relative;
    padding: 1.3rem;
}

.card-post-meta-img {
    height: 2.25rem;
    width: 2.25rem;
}

.card-post.rounded-3,
.card-post .rounded-3:before {
    overflow: hidden;
    border-radius: .5rem !important;
}

.glass-fx {
    backdrop-filter: blur(.15rem);
}

.badge {
    padding: .3075rem .615rem;
    font-size: .8462em;
    font-weight: 400;
    line-height: 1;
    border-radius: .2rem;
}

.badge i {
    font-size: 11px;
}
.card-img-top img{
    transition: 0.3s ease;
}
.blog-grid .card:hover .card-img-top img{
    transform: scale(1.1);
}
.blog-grid .card:hover .card-title{
    color: var(--color-primary);
}

footer {
    background-color: #1c1614;
    color: #f2f3f5;
    padding-bottom: 10px;
}

.footerLink {
    color: #ffffff;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
    transition: 0.3s ease;
}

.footerLink:hover {
    color: var(--color-primary);
}

.footer-last {
    font-size: 12px;
}

.content{
    max-width: 1000px;
    margin: 60px auto;
}

.box{
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 20%);
}

.title{
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;

    color: var(--white-smoke);
}

.basic .title{
    background: var(--pinkish-red);
}

.standard .title{
    background: var(--medium-blue);
}

.business .title{
    background: var(--greenish-blue);
}

.view{
    background: var(--white-smoke);
}

.icon{
    display: flex;
    justify-content: center;
}

.icon img{
    width: 70px;
}

.cost{
    margin-top: 10px;
}

.amount{
    font-size: 40px;
    font-weight: bolder;
}

.detail{
    font-size: 0.7em;
    font-weight: bold;
    line-height: 15px;
    color: #7D7C7C;
}

.description{
    font-size: 0.8em;
    color: #7D7C7C;
}


.description ul li::before{
    content: "";
    background-image: url("https://i.postimg.cc/ht7g996V/check.png");
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.btn-submit{
    height: 40px;
    width: 100%;
    max-width: 250px;
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #7D7C7C;
    border: 2px solid var(--dark-gray);
    border-radius: 50px;

    background: transparent;
}

.btn-submit:hover{
    color: var(--white-smoke);
    transition: 0.5s;
    background: var(--color-primary);
    border-color: var(--color-primary);
}

.icon-box {
	padding: 30px;
	border-radius: 6px;
	background-color: var(--white-smoke);
}
.icon-box:hover .service-title a {
	color: var(--color-primary);
}
.icon-box .service-icon {
	float: left;
	color: var(--color-primary);
	font-size: 40px;
}
.icon-box .service-title {
	margin-left: 70px;
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 1.2;
}
.icon-box .service-title a {
	color: #556270;
	transition: 0.3s;
	text-decoration: none;
}
.icon-box .service-para {
	margin-left: 70px;
	line-height: 24px;
	font-size: 14px;
}
.service-main-heading {
	color: #556270;
	padding: 0;
	margin-bottom: 20px;
	line-height: 1;
	font-size: 60px;
	font-weight: 600;
}
.team-img{
    max-width: 200px;
}
.accordion-item {
    border: none;
    box-shadow: 0 4px 6px rgba(69, 81, 100, 0.1);
}

.accordion-header {
    background: #fff;
    box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1);
    position: relative;
    padding: 0;
    outline: none;
}

.accordion-button {
    padding: 20px 30px;
    font-size: 18px;
    position: relative;
    outline: none;
    box-shadow: 0;
}
.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background: #fff;
    color: var(--color-primary);
    box-shadow: none;
    border-bottom: 1px solid rgba(97, 125, 255, 0.2);
}
.accordion-collapse {
    border-top: none;
    box-shadow: 0px 15px 140px 0px rgba(69, 81, 100, 0.1);
}

.accordion-body {
    color: var(--dark-gray);
    font-weight: 300;
    line-height: 30px;
}
@media screen and (max-width:991px) {
    .icon img {
        width: 50px;
    }
}

@media screen and (max-width:767px) {
    body {
        font-size: 14px;
    }
    .navItems{
        font-size: 18px;
    }
    .icon img {
        width: 70px;
    }
    .content{
        max-width: 80%;
        margin: 30px auto;
    }
}

@media screen and (max-width:575px) {
    .container {
        max-width: 95%;
    }
    .content{
        max-width: 100%;
    }
}
